.clean {
    background-image: url("../images/button/clean.png") !important;
}

.search {
    background-image: url("../images/button/search.png") !important;
}

.add {
    background-image: url("../images/button/add.png") !important;
}

.pdf {
    background-image: url("../images/file/pdf.png") !important;
}

.itemLabel {
    font-size: 1em;
}

footer {
    height: 64px;
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%;
    bottom: 0;
    left: 0;
}