<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:p="http://primefaces.org/ui">

<h:head>
  <title>PrimeFaces DataTable Example</title>
</h:head>

<h:body>

  <p:dataTable var="departament" value="#{departamentsView.departaments}">

    <p:column headerText="coddpto">
      <h:outputText value="#{departament.coddpto}" />
    </p:column>

    <p:column headerText="nombre">
      <h:outputText value="#{departament.nombre}" />
    </p:column>


  </p:dataTable>

</h:body>
</html>
