<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

<h:head>
    <title>Gestión de Sedes de Defensa Pública</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
          crossorigin="anonymous"/>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
            integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
            integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" href="../css/style.css"/>

</h:head>

<h:body style="margin:0px;">

    <p:commandLink id="link">
        <h:graphicImage  library="images" name="logo.png" style="position: absolute;z-index: 1; padding: 20px;" >
        </h:graphicImage>

        <h:graphicImage library="images" name="background-header.png" style="width: 100%; position: relative;" >
        </h:graphicImage>
    </p:commandLink>

    <h:form>
        <p:megaMenu orientation="horizontal" autoDisplay="false">
            <p:menuitem  value="Consultar Defensores" url="index.xhtml"/>
            <p:menuitem  value="Consultar Sedes" url="sedes.xhtml"/>
            <p:submenu label="Administrar">
                <p:column>
                    <p:submenu label="Mantenimiento">
                        <p:menuitem value="Defensores Públicos" url="registrarDefensor.xhtml"/>
                        <p:menuitem value="Sedes Públicas" url="registrarSede.xhtml"/>
                    </p:submenu>
                </p:column>
            </p:submenu>
        </p:megaMenu>
    </h:form>

    <div class="accordion container" id="accordionExample" style="margin-top:15px;">

        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" style="background: #c4c4c4"
                        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <p:outputLabel value="Búsqueda " style="color: black" />
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                 data-bs-parent="#accordionExample">
                <div class="accordion-body">

                    <div class="row g-2">
                        <h:form id="selectform" class="row">
                            <div class="col-12 col-md-3">
                                <div style="padding: 10px;">
                                    <p:outputLabel class="itemLabel" value="Departamento: " style="font-weight:bold;" />
                                    <p:selectOneMenu id="sonDepartamento" style="padding-right: 0em; width: 100%;" value="#{departamentsView.idDepartamento}" >
                                        <f:selectItem itemLabel="Seleccionar" itemValue="" />
                                        <f:selectItems var="depart" itemLabel="#{depart.nombre}" itemValue="#{depart.coddpto}" value="#{departamentsView.departaments}" />
                                        <p:ajax listener="#{departamentsView.handleProvinciaChange}" process=":selectform:sonDepartamento" update=":selectform:sonProvincia"/>
                                    </p:selectOneMenu>
                                </div>
                            </div>
                            <div class="col-12 col-md-3">
                                <div style="padding: 10px;">
                                    <p:outputLabel class="itemLabel" value="Provincia: " style="font-weight:bold;" />
                                    <p:selectOneMenu id="sonProvincia" style="padding-right: 0em; width: 100%;" value="#{departamentsView.idProvincia}" >
                                        <f:selectItem itemLabel="Seleccionar" itemValue="" />
                                        <f:selectItems var="provincia" itemLabel="#{provincia.nombre}" itemValue="#{provincia.codprov}" value="#{departamentsView.provincias}" />
                                        <p:ajax listener="#{departamentsView.handleDistritoChange}" process=":selectform:sonProvincia" update=":selectform:sonDistrito"/>
                                    </p:selectOneMenu>
                                </div>
                            </div>
                            <div class="col-12 col-md-3">
                                <div style="padding: 10px;">
                                    <p:outputLabel class="itemLabel" value="Distrito: " style="font-weight:bold;" />
                                    <p:selectOneMenu id="sonDistrito" style="padding-right: 0em; width: 100%;" value="#{departamentsView.idDistrito}" >
                                        <f:selectItem itemLabel="Seleccionar" itemValue="" />
                                        <f:selectItems var="distrito" itemLabel="#{distrito.nombre}" itemValue="#{distrito.coddist}" value="#{departamentsView.distritos}" />
                                        <p:ajax listener="#{departamentsView.handleSedeChange}" process=":selectform:sonDistrito" update=":selectform:sonSede"/>
                                    </p:selectOneMenu>
                                </div>
                            </div>
                            <div class="col-12 col-md-3">
                                <div style="padding: 10px;">
                                    <p:outputLabel class="itemLabel" value="Sedes: " style="font-weight:bold;" />
                                    <p:selectOneMenu id="sonSede" style="padding-right: 0em; width: 100%;"  value="#{departamentsView.idSede}">
                                        <f:selectItem itemLabel="Seleccionar" itemValue="" />
                                        <f:selectItems var="sede" itemLabel="#{sede.nombre}" itemValue="#{sede.sede_id}" value="#{departamentsView.sedesVW}" />
                                        <p:ajax event="valueChange" update="@form" />
                                    </p:selectOneMenu>
                                </div>
                            </div>
                            <div class="col-12 col-md-3">
                                <div style="padding: 10px;">
                                    <p:outputLabel class="itemLabel" value="Nombres: " style="font-weight:bold;" />
                                    <p:inputText style="width:100%" value="#{departamentsView.nombres}">
                                        <p:ajax event="valueChange" update="@form" />
                                    </p:inputText>
                                </div>
                            </div>
                            <div class="col-12 col-md-3">
                                <div style="padding: 10px;">
                                    <p:outputLabel class="itemLabel" value="Apellido Paterno: " style="font-weight:bold;" />
                                    <p:inputText style="width:100%" value="#{departamentsView.apellidopaterno}">
                                        <p:ajax event="valueChange" update="@form" />
                                    </p:inputText>
                                </div>
                            </div>
                            <div class="col-12 col-md-3">
                                <div style="padding: 10px;">
                                    <p:outputLabel class="itemLabel" value="Apellido Materno: " style="font-weight:bold;" />
                                    <p:inputText style="width:100%"  value="#{departamentsView.apellidomaterno}">
                                        <p:ajax event="valueChange" update="@form" />
                                    </p:inputText>
                                </div>
                            </div>
                            <div class="col-12 col-md-3">
                                <div style="padding: 10px;">
                                    <p:outputLabel class="itemLabel" value="Estado: " style="font-weight:bold;" />
                                    <p:selectOneMenu style="padding-right: 0em; width: 100%;" value="#{departamentsView.idEstado}">
                                        <f:selectItem itemLabel="Seleccionar" itemValue=""/>
                                        <f:selectItem itemLabel="Activo" itemValue="1" />
                                        <f:selectItem itemLabel="Baja" itemValue="3"/>
                                        <p:ajax event="valueChange" update="@form" />
                                    </p:selectOneMenu>
                                </div>
                            </div>
                            <div class="col-md-12" style="text-align:end;">

<!--                                <p:commandButton class="itemLabel" icon="pdf" value="Exportar"  style="margin-top: 20px;margin-right: 10px;">-->
<!--                                    <p:dataExporter type="pdf" target=":dtForm:person" fileName="personas"/>-->
<!--                                </p:commandButton>-->

<!--                                <h:commandLink>-->
<!--                                    <h:graphicImage url="./../../resources/images/file/pdf.png" />-->
<!--                                    <p:dataExporter type="pdf" target="person" fileName="personas"/>-->
<!--                                </h:commandLink>-->

                                <p:commandButton class="itemLabel" icon="clean" type="button" value="Limpiar" id="btnLimpiar" style="margin-top: 20px;margin-right: 10px;">
                                    <p:ajax listener="#{departamentsView.limpiarPersona}" process=":selectform:btnLimpiar" update=":dtForm:person :selectform"/>
                                </p:commandButton>

                                <p:commandButton class="itemLabel" icon="search" type="button" value="Buscar" id="btnBuscar"  style="margin-top: 20px">
                                    <p:ajax listener="#{departamentsView.buscarPersona}" process=":selectform:btnBuscar" update=":dtForm:person"/>
                                </p:commandButton>

                            </div>
                      </h:form>
                    </div>
                </div>
            </div>
        </div>

        
    </div>
    <br></br>
    <main class="container">
        <div class="card">
            <h:form id="dtForm">

                <p:dataTable id="person" var="p" value="#{departamentsView.personas}"
                             rowKey="#{p.personal_id}"
                             size="small" stripedRows="true" rows="10"
                             paginator="true"
                             paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {Exporters} {RowsPerPageDropdown} "
                             currentPageReportTemplate="{startRecord}-{endRecord} de {totalRecords} registros"
                             rowsPerPageTemplate="5,10,15"
                             emptyMessage="No se encontraron registros">

                    <f:facet name="{Exporters}">
                        <div style="float:right;padding-top: 4px;margin-right:10px;">
                            <h:commandLink>
                                <p:graphicImage url="../images/file/pdf.png" width="24"/>
                                <p:dataExporter type="pdf" target="person" fileName="Defensores_Publicos"/>
                            </h:commandLink>
                        </div>
                    </f:facet>

                    <p:column headerText="Dirección Distrital">
                        <h:outputText value="#{p.direccion_distrital}"/>
                    </p:column>
                    <p:column headerText="Nombres">
                        <h:outputText value="#{p.nombres}" />
                    </p:column>
                    <p:column headerText="Apellido Paterno">
                        <h:outputText value="#{p.apellido_paterno}" />
                    </p:column>
                    <p:column headerText="Apellido Materno">
                        <h:outputText value="#{p.apellido_materno}" />
                    </p:column>
                    <p:column headerText="Número Telefónico">
                        <h:outputText value="#{p.numero_telefonico}" />
                    </p:column>
                    <p:column headerText="Correo Electrónico">
                        <h:outputText value="#{p.correo_electronico}" />
                    </p:column>
                    <p:column headerText="Fotografía" style="text-align: center;" exportable="false">
<!--                        <p:graphicImage value="#{p.image}"  rendered="#{not empty p.image}" cache="false" width="100" height="25">-->
<!--                            <f:param name="id" value="#{p.personal_id}"/>-->
<!--                        </p:graphicImage>-->
                        <p:graphicImage library="images" name="user_test.jpg" cache="false" width="50" height="50">

                        </p:graphicImage>
                    </p:column>
                    <p:column headerText="Sede">
                        <h:outputText value="#{p.sede}" />
                    </p:column>
                    <p:column headerText="Estado">
                        <h:outputText value="#{p.nombre_estado}" />
                    </p:column>
                </p:dataTable>
            </h:form>
        </div>

        <br></br>
        <!-- Modal -->
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
             aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Nuevo Defensor Público</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">

                        <div class="row">

                            <div class="form-floating mb-3 col-12">
                                <input type="text" class="form-control" id="direccionDistrital"
                                       placeholder="Dirección Distrital"/>
                                <label for="direccionDistrital">Dirección Distrital</label>
                            </div>
                            <div class="form-floating mb-3 col-3">
                                <input type="text" class="form-control" id="nombresM" placeholder="Nombres"/>
                                <label for="nombres">Nombres</label>
                            </div>
                            <div class="form-floating mb-3 col-3">
                                <input type="text" class="form-control" id="apellidos" placeholder="Apellidos"/>
                                <label for="apellidos">Apellidos</label>
                            </div>
                            <div class="form-floating mb-3 col-3">
                                <input type="text" class="form-control" id="numeroTelefonico"
                                       placeholder="Número Telefónico"/>
                                <label for="numeroTelefonico">Número Telefónico</label>
                            </div>
                            <div class="form-floating mb-3 col-3">
                                <input type="text" class="form-control" id="correoElectronico"
                                       placeholder="Correo Electrónico"/>
                                <label for="correoElectronico">Correo Electrónico</label>
                            </div>
                            <div class="mb-3 col-12">
                                <div class="mb-3">
                                    <label for="fotografia" class="form-label">Fotografía</label>
                                    <input class="form-control form-control-sm" id="fotografia" type="file"/>
                                </div>
                            </div>

                            <div class="form-floating mb-3 col-4">
                                <select class="form-select" id="sede"
                                        aria-label="Floating label select example">
                                </select>
                                <label for="sede">Sede</label>
                            </div>

                            <div class="form-floating mb-3 col-4">
                                <select class="form-select" id="estado"
                                        aria-label="Floating label select example">
                                </select>
                                <label for="estado">Estado</label>
                            </div>

                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        <button type="button" class="btn btn-primary">Guardar</button>
                    </div>
                </div>
            </div>
        </div>


    </main>


</h:body>
<footer>
    <h:graphicImage library="images" name="background-header.png" style="width: 100%;" >
    </h:graphicImage>
</footer>
</html>
