<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

<h:head>
    <title>Gestión de Sedes de Defensa Pública</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
          crossorigin="anonymous"/>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
            integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
            integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" href="../css/style.css"/>

</h:head>

<h:body style="margin:0px;">

    <p:commandLink id="link">
        <h:graphicImage  library="images" name="logo.png" style="position: absolute;z-index: 1; padding: 20px;" >
        </h:graphicImage>

        <h:graphicImage library="images" name="background-header.png" style="width: 100%; position: relative;" >
        </h:graphicImage>
    </p:commandLink>

    <h:form>
        <p:megaMenu orientation="horizontal" autoDisplay="false">
            <p:menuitem  value="Consultar Defensores" url="index.xhtml"/>
            <p:menuitem  value="Consultar Sedes" url="sedes.xhtml"/>
            <p:submenu label="Administrar">
                <p:column>
                    <p:submenu label="Mantenimiento">
                        <p:menuitem value="Defensores Públicos" url="registrarDefensor.xhtml"/>
                        <p:menuitem value="Sedes Públicas" url="registrarSede.xhtml"/>
                    </p:submenu>
                </p:column>
            </p:submenu>
        </p:megaMenu>
    </h:form>

    <div class="accordion container" id="accordionExample" style="margin-top:15px;">

        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" style="background: #c4c4c4"
                        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <p:outputLabel value="Nuevo " style="color: black" />
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                 data-bs-parent="#accordionExample">
                <div class="accordion-body">

                    <div class="row g-2">
                        <h:form id="selectform" class="row">
                            <div class="col-12 col-md-3">
                                <div style="padding: 10px;">
                                    <p:outputLabel class="itemLabel" value="Departamento: " style="font-weight:bold;" />
                                    <p:selectOneMenu id="sonDepartamento" style="padding-right: 0em; width: 100%;" value="#{departamentsView.idDepartamento}" >
                                        <f:selectItem itemLabel="Seleccionar" itemValue="" />
                                        <f:selectItems var="depart" itemLabel="#{depart.nombre}" itemValue="#{depart.coddpto}" value="#{departamentsView.departaments}" />
                                        <p:ajax listener="#{departamentsView.handleProvinciaChange}" process=":selectform:sonDepartamento" update=":selectform:sonProvincia"/>
                                    </p:selectOneMenu>
                                </div>
                            </div>
                            <div class="col-12 col-md-3">
                                <div style="padding: 10px;">
                                    <p:outputLabel class="itemLabel" value="Provincia: " style="font-weight:bold;" />
                                    <p:selectOneMenu id="sonProvincia" style="padding-right: 0em; width: 100%;" value="#{departamentsView.idProvincia}" >
                                        <f:selectItem itemLabel="Seleccionar" itemValue="" />
                                        <f:selectItems var="provincia" itemLabel="#{provincia.nombre}" itemValue="#{provincia.codprov}" value="#{departamentsView.provincias}" />
                                        <p:ajax listener="#{departamentsView.handleDistritoChange}" process=":selectform:sonProvincia" update=":selectform:sonDistrito"/>
                                    </p:selectOneMenu>
                                </div>
                            </div>
                            <div class="col-12 col-md-3">
                                <div style="padding: 10px;">
                                    <p:outputLabel class="itemLabel" value="Distrito: " style="font-weight:bold;" />
                                    <p:selectOneMenu id="sonDistrito" style="padding-right: 0em; width: 100%;" value="#{departamentsView.idDistrito}" >
                                        <f:selectItem itemLabel="Seleccionar" itemValue="" />
                                        <f:selectItems var="distrito" itemLabel="#{distrito.nombre}" itemValue="#{distrito.coddist}" value="#{departamentsView.distritos}" />
                                        <p:ajax event="valueChange" update="@form" />
                                    </p:selectOneMenu>
                                </div>
                            </div>

                            <div class="col-12 col-md-3">
                                <div style="padding: 10px;">
                                    <p:outputLabel class="itemLabel" value="Dirección: " style="font-weight:bold;" />
                                    <p:inputText style="width:100%" value="#{departamentsView.sede.direccion}">
                                        <p:ajax event="valueChange" update="@form" />
                                    </p:inputText>
                                </div>
                            </div>

                            <div class="col-12 col-md-3">
                                <div style="padding: 10px;">
                                    <p:outputLabel class="itemLabel" value="Número Teléfonico: " style="font-weight:bold;" />
                                    <p:inputText style="width:100%" value="#{departamentsView.sede.telefono}">
                                        <p:ajax event="valueChange" update="@form" />
                                    </p:inputText>
                                </div>
                            </div>

                            <div class="col-12 col-md-3">
                                <div style="padding: 10px;">
                                    <p:outputLabel value="Correo Electrónico: " style="font-weight:bold;" />
                                    <p:inputText style="width:100%" value="#{departamentsView.sede.correo}">
                                        <p:ajax event="valueChange" update="@form" />
                                    </p:inputText>
                                </div>
                            </div>

                            <div class="col-12 col-md-3">
                                <div style="padding: 10px;">
                                    <p:outputLabel class="itemLabel" value="Longitud: " style="font-weight:bold;" />
                                    <p:inputText style="width:100%" value="#{departamentsView.sede.longitud}">
                                        <p:ajax event="valueChange" update="@form" />
                                    </p:inputText>
                                </div>
                            </div>

                            <div class="col-12 col-md-3">
                                <div style="padding: 10px;">
                                    <p:outputLabel class="itemLabel" value="Latitud: " style="font-weight:bold;" />
                                    <p:inputText style="width:100%" value="#{departamentsView.sede.latitud}">
                                        <p:ajax event="valueChange" update="@form" />
                                    </p:inputText>
                                </div>
                            </div>



<!--                            <div class="col-12 col-md-3">-->
<!--                                <div style="padding: 10px;">-->
<!--                                    <p:outputLabel value="Personal: " style="font-weight:bold;" />-->
<!--                                    <p:selectOneMenu style="padding-right: 0em; width: 100%;">-->
<!--                                        <f:selectItem itemLabel="Seleccionar" itemValue="" />-->
<!--                                    </p:selectOneMenu>-->
<!--                                </div>-->
<!--                            </div>-->

                            <div class="col-12 col-md-9" style="text-align:end;margin-top: 20px; display: none" >
                                <p:commandButton class="itemLabel" type="button" value="Registrar" id="btnRegistrar2" action="#{departamentsView.create}" ajax="true">
                                </p:commandButton>
                            </div>
                            <div class="col-md-12" style="text-align:end;">
                                <p:commandButton class="itemLabel" icon="add" type="button" value="Agregar" id="btnRegistrar"  style="margin-top: 20px">
                                    <p:ajax listener="#{departamentsView.create}" process=":selectform:btnRegistrar" update=":form:sede"/>
                                </p:commandButton>
                            </div>

                        </h:form>

                    </div>

                </div>
            </div>
        </div>
    </div>

    <br></br>

    <main class="container">
        <div class="card">
            <h:form id="form">
                <p:growl id="msgs" showDetail="true"/>
                <p:dataTable id="sede" var="s" value="#{departamentsView.sedes}"
                             rowKey="#{s.sede_id}"
                             size="small" stripedRows="true" rows="10"
                             paginator="true"
                             editable="true"
                             paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                             currentPageReportTemplate="{startRecord}-{endRecord} de {totalRecords} registros"
                             rowsPerPageTemplate="5,10,15"
                             emptyMessage="No se encontraron registros">

                    <p:ajax event="rowEdit" listener="#{departamentsView.onRowEdit}" update=":form:msgs"/>
                    <p:ajax event="rowEditCancel" listener="#{departamentsView.onRowCancel}" update=":form:msgs"/>

                    <p:column headerText="Dirección">
                        <p:cellEditor>
                            <f:facet name="output"><h:outputText value="#{s.direccion}"/></f:facet>
                            <f:facet name="input"><p:inputText value="#{s.direccion}" style="width:100%"
                                                               label="Name"/></f:facet>
                        </p:cellEditor>
                    </p:column>
                    <p:column headerText="Telefono">
                        <p:cellEditor>
                            <f:facet name="output"><h:outputText value="#{s.telefono}"/></f:facet>
                            <f:facet name="input"><p:inputText value="#{s.telefono}" style="width:100%"
                                                               label="Name"/></f:facet>
                        </p:cellEditor>
                    </p:column>
                    <p:column headerText="Correo">
                        <p:cellEditor>
                            <f:facet name="output"><h:outputText value="#{s.correo}"/></f:facet>
                            <f:facet name="input"><p:inputText value="#{s.correo}" style="width:100%"
                                                               label="Name"/></f:facet>
                        </p:cellEditor>
                    </p:column>
                    <p:column headerText="Longitud">
                        <p:cellEditor>
                            <f:facet name="output"><h:outputText value="#{s.longitud}"/></f:facet>
                            <f:facet name="input"><p:inputText value="#{s.longitud}" style="width:100%"
                                                               label="Name"/></f:facet>
                        </p:cellEditor>
                    </p:column>
                    <p:column headerText="Latitud">
                        <p:cellEditor>
                            <f:facet name="output"><h:outputText value="#{s.latitud}"/></f:facet>
                            <f:facet name="input"><p:inputText value="#{s.latitud}" style="width:100%"
                                                               label="Name"/></f:facet>
                        </p:cellEditor>
                    </p:column>
                    <p:column headerText="Estado">
                        <h:outputText value="#{s.nombreEstado}" />
                    </p:column>
                    <p:column headerText="Editar" style="width:6rem; text-align:center;">
                        <p:rowEditor/>
                    </p:column>

                </p:dataTable>
            </h:form>
        </div>
    </main>

    <br></br>

</h:body>
<footer>
    <h:graphicImage library="images" name="background-header.png" style="width: 100%;" >
    </h:graphicImage>
</footer>
</html>
