<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:e="http://www.edernilson.com/componentes/ui">

<h:head>
    <title>Gestión de Sedes de Defensa Pública</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
          crossorigin="anonymous"/>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
            integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
            integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
            crossorigin="anonymous"></script>

<!--    <script src="https://maps.google.com/maps/api/js?key=AIzaSyAX-Tz0_SpYMQrnk2319mq4vevqE3Mewxs"></script>-->

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAX-Tz0_SpYMQrnk2319mq4vevqE3Mewxs"></script>

    <link rel="stylesheet" href="../css/style.css"/>

</h:head>

<h:body style="margin:0px;">

    <p:commandLink id="link">
        <h:graphicImage  library="images" name="logo.png" style="position: absolute;z-index: 1; padding: 20px;" >
        </h:graphicImage>

        <h:graphicImage library="images" name="background-header.png" style="width: 100%; position: relative;" >
        </h:graphicImage>
    </p:commandLink>

    <h:form>
        <p:megaMenu orientation="horizontal" autoDisplay="false">
            <p:menuitem  value="Consultar Defensores" url="index.xhtml"/>
            <p:menuitem  value="Consultar Sedes" url="sedes.xhtml"/>
            <p:submenu label="Administrar">
                <p:column>
                    <p:submenu label="Mantenimiento">
                        <p:menuitem value="Defensores Públicos" url="registrarDefensor.xhtml"/>
                        <p:menuitem value="Sedes Públicas" url="registrarSede.xhtml"/>
                    </p:submenu>
                </p:column>
            </p:submenu>
        </p:megaMenu>
    </h:form>

    <div class="accordion container" id="accordionExample" style="margin-top:15px;">

        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" style="background: #c4c4c4"
                        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <p:outputLabel value="Búsqueda " style="color: black" />
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                 data-bs-parent="#accordionExample">
                <div class="accordion-body">

                    <div class="row g-2">
                        <h:form id="selectform" class="row">
                            <div class="col-12 col-md-3">
                                <div style="padding: 10px;">
                                    <p:outputLabel class="itemLabel" value="Departamento: " style="font-weight:bold;" />
                                    <p:selectOneMenu id="sonDepartamento" style="padding-right: 0em; width: 100%;" value="#{departamentsView.idDepartamento}" >
                                        <f:selectItem itemLabel="Seleccionar" itemValue="" />
                                        <f:selectItems var="depart" itemLabel="#{depart.nombre}" itemValue="#{depart.coddpto}" value="#{departamentsView.departaments}" />
                                        <p:ajax listener="#{departamentsView.handleProvinciaChange}" process=":selectform:sonDepartamento" update=":selectform:sonProvincia"/>
                                    </p:selectOneMenu>
                                </div>
                            </div>
                            <div class="col-12 col-md-3">
                                <div style="padding: 10px;">
                                    <p:outputLabel class="itemLabel" value="Provincia: " style="font-weight:bold;" />
                                    <p:selectOneMenu class="itemLabel" id="sonProvincia" style="padding-right: 0em; width: 100%;" value="#{departamentsView.idProvincia}" >
                                        <f:selectItem itemLabel="Seleccionar" itemValue="" />
                                        <f:selectItems var="provincia" itemLabel="#{provincia.nombre}" itemValue="#{provincia.codprov}" value="#{departamentsView.provincias}" />
                                        <p:ajax listener="#{departamentsView.handleDistritoChange}" process=":selectform:sonProvincia" update=":selectform:sonDistrito"/>
                                    </p:selectOneMenu>
                                </div>
                            </div>
                            <div class="col-12 col-md-3">
                                <div style="padding: 10px;">
                                    <p:outputLabel class="itemLabel" value="Distrito: " style="font-weight:bold;" />
                                    <p:selectOneMenu class="itemLabel" id="sonDistrito" style="padding-right: 0em; width: 100%;" value="#{departamentsView.idDistrito}" >
                                        <f:selectItem itemLabel="Seleccionar" itemValue="" />
                                        <f:selectItems var="distrito" itemLabel="#{distrito.nombre}" itemValue="#{distrito.coddist}" value="#{departamentsView.distritos}" />
                                        <p:ajax event="valueChange" update="@form" />
                                    </p:selectOneMenu>
                                </div>
                            </div>

                            <div class="col-12 col-md-3" style="text-align:end;margin-top: 20px;">
                                <p:commandButton class="itemLabel" icon="clean"  type="button" value="Limpiar" id="btnLimpiar" style="margin-top: 20px;margin-right: 10px;">
                                    <p:ajax listener="#{departamentsView.limpiarSede}" process=":selectform:btnLimpiar" update=":selectform, selectformGmap" />
                                </p:commandButton>

                                <p:commandButton class="itemLabel" icon="search" type="button" value="Buscar" id="btnBuscar"  style="margin-top: 20px">
                                    <p:ajax listener="#{departamentsView.buscarSede}" process=":selectform:btnBuscar" update=":selectformGmap"/>
                                </p:commandButton>
                            </div>

                        </h:form>

                    </div>

                </div>
            </div>
        </div>


    </div>

      <br></br>

    <main class="container">
        <h:form id="selectformGmap" class="row">
        <div class="card">
            <p:gmap center="#{departamentsView.longitud},#{departamentsView.latitud}" zoom="#{departamentsView.zoom}" type="ROADMAP" style="width:100%;height:600px"
                    model="#{departamentsView.simpleModel}">

            <p:ajax event="overlaySelect" listener="#{departamentsView.onMarkerSelect}"/>

            <p:gmapInfoWindow id="infoWindow">
                <p:outputPanel style="text-align: center; display: block; margin: auto">
                  <h:outputText value="#{departamentsView.marker.title}"/>
                </p:outputPanel>
            </p:gmapInfoWindow>

            </p:gmap>
        </div>
        </h:form>
    </main>

    <br></br>




</h:body>
<footer>
    <h:graphicImage library="images" name="background-header.png" style="width: 100%;" >
    </h:graphicImage>
</footer>
</html>
